openapi: 3.0.3
info:
  title: Laravel
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://orca-app-ik7qo.ondigitalocean.app'
paths:
  /api/register:
    post:
      summary: 'new user registration'
      operationId: newUserRegistration
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: ''
                  example: dolor
                email:
                  type: string
                  description: ''
                  example: juliana.bartell@example.com
                password:
                  type: string
                  description: ''
                  example: 'Rz{jv^wH-D!'
              required:
                - username
                - email
                - password
      security: []
  /api/login:
    post:
      summary: 'user login and token creation'
      operationId: userLoginAndTokenCreation
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: ''
                  example: tbrakus@example.org
                password:
                  type: string
                  description: ''
                  example: NY@W`uT
              required:
                - email
                - password
      security: []
  /api/users:
    get:
      summary: 'Get all users.'
      operationId: getAllUsers
      description: ''
      parameters: []
      responses:
        500:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "SQLSTATE[42S02]: Base table or view not found: 1146 Table 'ID396978_swappie.notifications' doesn't exist (Connection: mysql, SQL: select * from `notifications` where `notifications`.`notifiable_type` = App\\Models\\User and `notifications`.`notifiable_id` = 1 and `notifications`.`notifiable_id` is not null order by `created_at` desc)"
                  exception: Illuminate\Database\QueryException
                  file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Connection.php
                  line: 793
                  trace:
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Connection.php
                      line: 753
                      function: runQueryCallback
                      class: Illuminate\Database\Connection
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Connection.php
                      line: 405
                      function: run
                      class: Illuminate\Database\Connection
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Query/Builder.php
                      line: 2718
                      function: select
                      class: Illuminate\Database\Connection
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Query/Builder.php
                      line: 2707
                      function: runSelect
                      class: Illuminate\Database\Query\Builder
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Query/Builder.php
                      line: 3248
                      function: 'Illuminate\Database\Query\{closure}'
                      class: Illuminate\Database\Query\Builder
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Query/Builder.php
                      line: 2706
                      function: onceWithColumns
                      class: Illuminate\Database\Query\Builder
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Builder.php
                      line: 717
                      function: get
                      class: Illuminate\Database\Query\Builder
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Builder.php
                      line: 701
                      function: getModels
                      class: Illuminate\Database\Eloquent\Builder
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Relations/MorphMany.php
                      line: 33
                      function: get
                      class: Illuminate\Database\Eloquent\Builder
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Concerns/HasAttributes.php
                      line: 590
                      function: getResults
                      class: Illuminate\Database\Eloquent\Relations\MorphMany
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Concerns/HasAttributes.php
                      line: 528
                      function: getRelationshipFromMethod
                      class: Illuminate\Database\Eloquent\Model
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Concerns/HasAttributes.php
                      line: 453
                      function: getRelationValue
                      class: Illuminate\Database\Eloquent\Model
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Model.php
                      line: 2227
                      function: getAttribute
                      class: Illuminate\Database\Eloquent\Model
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/app/Http/Controllers/AuthController.php
                      line: 83
                      function: __get
                      class: Illuminate\Database\Eloquent\Model
                      type: '->'
                    -
                      function: 'App\Http\Controllers\{closure}'
                      class: App\Http\Controllers\AuthController
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Collections/Arr.php
                      line: 558
                      function: array_map
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Collections/Collection.php
                      line: 771
                      function: map
                      class: Illuminate\Support\Arr
                      type: '::'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Collection.php
                      line: 344
                      function: map
                      class: Illuminate\Support\Collection
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/app/Http/Controllers/AuthController.php
                      line: 75
                      function: map
                      class: Illuminate\Database\Eloquent\Collection
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Controller.php
                      line: 54
                      function: index
                      class: App\Http\Controllers\AuthController
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/ControllerDispatcher.php
                      line: 43
                      function: callAction
                      class: Illuminate\Routing\Controller
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Route.php
                      line: 259
                      function: dispatch
                      class: Illuminate\Routing\ControllerDispatcher
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Route.php
                      line: 205
                      function: runController
                      class: Illuminate\Routing\Route
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 798
                      function: run
                      class: Illuminate\Routing\Route
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 141
                      function: 'Illuminate\Routing\{closure}'
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Middleware/SubstituteBindings.php
                      line: 50
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Routing\Middleware\SubstituteBindings
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Middleware/ThrottleRequests.php
                      line: 152
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Middleware/ThrottleRequests.php
                      line: 118
                      function: handleRequest
                      class: Illuminate\Routing\Middleware\ThrottleRequests
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Middleware/ThrottleRequests.php
                      line: 80
                      function: handleRequestUsingNamedLimiter
                      class: Illuminate\Routing\Middleware\ThrottleRequests
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Routing\Middleware\ThrottleRequests
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/sanctum/src/Http/Middleware/EnsureFrontendRequestsAreStateful.php
                      line: 25
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 141
                      function: 'Laravel\Sanctum\Http\Middleware\{closure}'
                      class: Laravel\Sanctum\Http\Middleware\EnsureFrontendRequestsAreStateful
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 116
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/sanctum/src/Http/Middleware/EnsureFrontendRequestsAreStateful.php
                      line: 24
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Laravel\Sanctum\Http\Middleware\EnsureFrontendRequestsAreStateful
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 116
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 797
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 776
                      function: runRouteWithinStack
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 740
                      function: runRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 729
                      function: dispatchToRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                      line: 200
                      function: dispatch
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 141
                      function: 'Illuminate\Foundation\Http\{closure}'
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ConvertEmptyStringsToNull.php
                      line: 31
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TrimStrings.php
                      line: 40
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TrimStrings
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ValidatePostSize.php
                      line: 27
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\ValidatePostSize
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/PreventRequestsDuringMaintenance.php
                      line: 86
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Http/Middleware/HandleCors.php
                      line: 62
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Http\Middleware\HandleCors
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Http/Middleware/TrustProxies.php
                      line: 39
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Http\Middleware\TrustProxies
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 116
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                      line: 175
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                      line: 144
                      function: sendRequestThroughRouter
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 299
                      function: handle
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 287
                      function: callLaravelOrLumenRoute
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 92
                      function: makeApiCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 45
                      function: makeResponseCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 35
                      function: makeResponseCallIfConditionsPass
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                      line: 209
                      function: __invoke
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                      line: 163
                      function: iterateThroughStrategies
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                      line: 95
                      function: fetchResponses
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                      line: 124
                      function: processRoute
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                      line: 71
                      function: extractEndpointsInfoFromLaravelApp
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                      line: 49
                      function: extractEndpointsInfoAndWriteToDisk
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/knuckleswtf/scribe/src/Commands/GenerateDocumentation.php
                      line: 51
                      function: get
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                      line: 36
                      function: handle
                      class: Knuckles\Scribe\Commands\GenerateDocumentation
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Container/Util.php
                      line: 41
                      function: 'Illuminate\Container\{closure}'
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                      line: 93
                      function: unwrapIfClosure
                      class: Illuminate\Container\Util
                      type: '::'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                      line: 35
                      function: callBoundMethod
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Container/Container.php
                      line: 662
                      function: call
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Console/Command.php
                      line: 208
                      function: call
                      class: Illuminate\Container\Container
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/symfony/console/Command/Command.php
                      line: 312
                      function: execute
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Console/Command.php
                      line: 177
                      function: run
                      class: Symfony\Component\Console\Command\Command
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/symfony/console/Application.php
                      line: 1040
                      function: run
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/symfony/console/Application.php
                      line: 314
                      function: doRunCommand
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/symfony/console/Application.php
                      line: 168
                      function: doRun
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Foundation/Console/Kernel.php
                      line: 200
                      function: run
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/artisan
                      line: 35
                      function: handle
                      class: Illuminate\Foundation\Console\Kernel
                      type: '->'
                properties:
                  message:
                    type: string
                    example: "SQLSTATE[42S02]: Base table or view not found: 1146 Table 'ID396978_swappie.notifications' doesn't exist (Connection: mysql, SQL: select * from `notifications` where `notifications`.`notifiable_type` = App\\Models\\User and `notifications`.`notifiable_id` = 1 and `notifications`.`notifiable_id` is not null order by `created_at` desc)"
                  exception:
                    type: string
                    example: Illuminate\Database\QueryException
                  file:
                    type: string
                    example: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Connection.php
                  line:
                    type: integer
                    example: 793
                  trace:
                    type: array
                    example:
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Connection.php
                        line: 753
                        function: runQueryCallback
                        class: Illuminate\Database\Connection
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Connection.php
                        line: 405
                        function: run
                        class: Illuminate\Database\Connection
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Query/Builder.php
                        line: 2718
                        function: select
                        class: Illuminate\Database\Connection
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Query/Builder.php
                        line: 2707
                        function: runSelect
                        class: Illuminate\Database\Query\Builder
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Query/Builder.php
                        line: 3248
                        function: 'Illuminate\Database\Query\{closure}'
                        class: Illuminate\Database\Query\Builder
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Query/Builder.php
                        line: 2706
                        function: onceWithColumns
                        class: Illuminate\Database\Query\Builder
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Builder.php
                        line: 717
                        function: get
                        class: Illuminate\Database\Query\Builder
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Builder.php
                        line: 701
                        function: getModels
                        class: Illuminate\Database\Eloquent\Builder
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Relations/MorphMany.php
                        line: 33
                        function: get
                        class: Illuminate\Database\Eloquent\Builder
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Concerns/HasAttributes.php
                        line: 590
                        function: getResults
                        class: Illuminate\Database\Eloquent\Relations\MorphMany
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Concerns/HasAttributes.php
                        line: 528
                        function: getRelationshipFromMethod
                        class: Illuminate\Database\Eloquent\Model
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Concerns/HasAttributes.php
                        line: 453
                        function: getRelationValue
                        class: Illuminate\Database\Eloquent\Model
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Model.php
                        line: 2227
                        function: getAttribute
                        class: Illuminate\Database\Eloquent\Model
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/app/Http/Controllers/AuthController.php
                        line: 83
                        function: __get
                        class: Illuminate\Database\Eloquent\Model
                        type: '->'
                      -
                        function: 'App\Http\Controllers\{closure}'
                        class: App\Http\Controllers\AuthController
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Collections/Arr.php
                        line: 558
                        function: array_map
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Collections/Collection.php
                        line: 771
                        function: map
                        class: Illuminate\Support\Arr
                        type: '::'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Collection.php
                        line: 344
                        function: map
                        class: Illuminate\Support\Collection
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/app/Http/Controllers/AuthController.php
                        line: 75
                        function: map
                        class: Illuminate\Database\Eloquent\Collection
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Controller.php
                        line: 54
                        function: index
                        class: App\Http\Controllers\AuthController
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/ControllerDispatcher.php
                        line: 43
                        function: callAction
                        class: Illuminate\Routing\Controller
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Route.php
                        line: 259
                        function: dispatch
                        class: Illuminate\Routing\ControllerDispatcher
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Route.php
                        line: 205
                        function: runController
                        class: Illuminate\Routing\Route
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                        line: 798
                        function: run
                        class: Illuminate\Routing\Route
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 141
                        function: 'Illuminate\Routing\{closure}'
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Middleware/SubstituteBindings.php
                        line: 50
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 180
                        function: handle
                        class: Illuminate\Routing\Middleware\SubstituteBindings
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Middleware/ThrottleRequests.php
                        line: 152
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Middleware/ThrottleRequests.php
                        line: 118
                        function: handleRequest
                        class: Illuminate\Routing\Middleware\ThrottleRequests
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Middleware/ThrottleRequests.php
                        line: 80
                        function: handleRequestUsingNamedLimiter
                        class: Illuminate\Routing\Middleware\ThrottleRequests
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 180
                        function: handle
                        class: Illuminate\Routing\Middleware\ThrottleRequests
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/sanctum/src/Http/Middleware/EnsureFrontendRequestsAreStateful.php
                        line: 25
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 141
                        function: 'Laravel\Sanctum\Http\Middleware\{closure}'
                        class: Laravel\Sanctum\Http\Middleware\EnsureFrontendRequestsAreStateful
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 116
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/sanctum/src/Http/Middleware/EnsureFrontendRequestsAreStateful.php
                        line: 24
                        function: then
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 180
                        function: handle
                        class: Laravel\Sanctum\Http\Middleware\EnsureFrontendRequestsAreStateful
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 116
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                        line: 797
                        function: then
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                        line: 776
                        function: runRouteWithinStack
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                        line: 740
                        function: runRoute
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                        line: 729
                        function: dispatchToRoute
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                        line: 200
                        function: dispatch
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 141
                        function: 'Illuminate\Foundation\Http\{closure}'
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                        line: 21
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ConvertEmptyStringsToNull.php
                        line: 31
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 180
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                        line: 21
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TrimStrings.php
                        line: 40
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 180
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TrimStrings
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ValidatePostSize.php
                        line: 27
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 180
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\ValidatePostSize
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/PreventRequestsDuringMaintenance.php
                        line: 86
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 180
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Http/Middleware/HandleCors.php
                        line: 62
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 180
                        function: handle
                        class: Illuminate\Http\Middleware\HandleCors
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Http/Middleware/TrustProxies.php
                        line: 39
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 180
                        function: handle
                        class: Illuminate\Http\Middleware\TrustProxies
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 116
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                        line: 175
                        function: then
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                        line: 144
                        function: sendRequestThroughRouter
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 299
                        function: handle
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 287
                        function: callLaravelOrLumenRoute
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 92
                        function: makeApiCall
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 45
                        function: makeResponseCall
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 35
                        function: makeResponseCallIfConditionsPass
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                        line: 209
                        function: __invoke
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                        line: 163
                        function: iterateThroughStrategies
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                        line: 95
                        function: fetchResponses
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                        line: 124
                        function: processRoute
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                        line: 71
                        function: extractEndpointsInfoFromLaravelApp
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                        line: 49
                        function: extractEndpointsInfoAndWriteToDisk
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/knuckleswtf/scribe/src/Commands/GenerateDocumentation.php
                        line: 51
                        function: get
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                        line: 36
                        function: handle
                        class: Knuckles\Scribe\Commands\GenerateDocumentation
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Container/Util.php
                        line: 41
                        function: 'Illuminate\Container\{closure}'
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                        line: 93
                        function: unwrapIfClosure
                        class: Illuminate\Container\Util
                        type: '::'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                        line: 35
                        function: callBoundMethod
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Container/Container.php
                        line: 662
                        function: call
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Console/Command.php
                        line: 208
                        function: call
                        class: Illuminate\Container\Container
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/symfony/console/Command/Command.php
                        line: 312
                        function: execute
                        class: Illuminate\Console\Command
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Console/Command.php
                        line: 177
                        function: run
                        class: Symfony\Component\Console\Command\Command
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/symfony/console/Application.php
                        line: 1040
                        function: run
                        class: Illuminate\Console\Command
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/symfony/console/Application.php
                        line: 314
                        function: doRunCommand
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/symfony/console/Application.php
                        line: 168
                        function: doRun
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Foundation/Console/Kernel.php
                        line: 200
                        function: run
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/artisan
                        line: 35
                        function: handle
                        class: Illuminate\Foundation\Console\Kernel
                        type: '->'
                    items:
                      type: object
                      properties:
                        file:
                          type: string
                          example: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Connection.php
                        line:
                          type: integer
                          example: 753
                        function:
                          type: string
                          example: runQueryCallback
                        class:
                          type: string
                          example: Illuminate\Database\Connection
                        type:
                          type: string
                          example: '->'
      tags:
        - Endpoints
      security: []
  '/api/users/{id}':
    get:
      summary: 'Get a specific user by ID.'
      operationId: getASpecificUserByID
      description: ''
      parameters: []
      responses:
        500:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: "SQLSTATE[42S02]: Base table or view not found: 1146 Table 'ID396978_swappie.notifications' doesn't exist (Connection: mysql, SQL: select * from `notifications` where `notifications`.`notifiable_type` = App\\Models\\User and `notifications`.`notifiable_id` = 1 and `notifications`.`notifiable_id` is not null order by `created_at` desc)"
                  exception: Illuminate\Database\QueryException
                  file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Connection.php
                  line: 793
                  trace:
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Connection.php
                      line: 753
                      function: runQueryCallback
                      class: Illuminate\Database\Connection
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Connection.php
                      line: 405
                      function: run
                      class: Illuminate\Database\Connection
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Query/Builder.php
                      line: 2718
                      function: select
                      class: Illuminate\Database\Connection
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Query/Builder.php
                      line: 2707
                      function: runSelect
                      class: Illuminate\Database\Query\Builder
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Query/Builder.php
                      line: 3248
                      function: 'Illuminate\Database\Query\{closure}'
                      class: Illuminate\Database\Query\Builder
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Query/Builder.php
                      line: 2706
                      function: onceWithColumns
                      class: Illuminate\Database\Query\Builder
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Builder.php
                      line: 717
                      function: get
                      class: Illuminate\Database\Query\Builder
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Builder.php
                      line: 701
                      function: getModels
                      class: Illuminate\Database\Eloquent\Builder
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Relations/MorphMany.php
                      line: 33
                      function: get
                      class: Illuminate\Database\Eloquent\Builder
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Concerns/HasAttributes.php
                      line: 590
                      function: getResults
                      class: Illuminate\Database\Eloquent\Relations\MorphMany
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Concerns/HasAttributes.php
                      line: 528
                      function: getRelationshipFromMethod
                      class: Illuminate\Database\Eloquent\Model
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Concerns/HasAttributes.php
                      line: 453
                      function: getRelationValue
                      class: Illuminate\Database\Eloquent\Model
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Model.php
                      line: 2227
                      function: getAttribute
                      class: Illuminate\Database\Eloquent\Model
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/app/Http/Controllers/AuthController.php
                      line: 106
                      function: __get
                      class: Illuminate\Database\Eloquent\Model
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Controller.php
                      line: 54
                      function: show
                      class: App\Http\Controllers\AuthController
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/ControllerDispatcher.php
                      line: 43
                      function: callAction
                      class: Illuminate\Routing\Controller
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Route.php
                      line: 259
                      function: dispatch
                      class: Illuminate\Routing\ControllerDispatcher
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Route.php
                      line: 205
                      function: runController
                      class: Illuminate\Routing\Route
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 798
                      function: run
                      class: Illuminate\Routing\Route
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 141
                      function: 'Illuminate\Routing\{closure}'
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Middleware/SubstituteBindings.php
                      line: 50
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Routing\Middleware\SubstituteBindings
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Middleware/ThrottleRequests.php
                      line: 152
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Middleware/ThrottleRequests.php
                      line: 118
                      function: handleRequest
                      class: Illuminate\Routing\Middleware\ThrottleRequests
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Middleware/ThrottleRequests.php
                      line: 80
                      function: handleRequestUsingNamedLimiter
                      class: Illuminate\Routing\Middleware\ThrottleRequests
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Routing\Middleware\ThrottleRequests
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/sanctum/src/Http/Middleware/EnsureFrontendRequestsAreStateful.php
                      line: 25
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 141
                      function: 'Laravel\Sanctum\Http\Middleware\{closure}'
                      class: Laravel\Sanctum\Http\Middleware\EnsureFrontendRequestsAreStateful
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 116
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/sanctum/src/Http/Middleware/EnsureFrontendRequestsAreStateful.php
                      line: 24
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Laravel\Sanctum\Http\Middleware\EnsureFrontendRequestsAreStateful
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 116
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 797
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 776
                      function: runRouteWithinStack
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 740
                      function: runRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 729
                      function: dispatchToRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                      line: 200
                      function: dispatch
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 141
                      function: 'Illuminate\Foundation\Http\{closure}'
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ConvertEmptyStringsToNull.php
                      line: 31
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TrimStrings.php
                      line: 40
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TrimStrings
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ValidatePostSize.php
                      line: 27
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\ValidatePostSize
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/PreventRequestsDuringMaintenance.php
                      line: 86
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Http/Middleware/HandleCors.php
                      line: 62
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Http\Middleware\HandleCors
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Http/Middleware/TrustProxies.php
                      line: 39
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Http\Middleware\TrustProxies
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 116
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                      line: 175
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                      line: 144
                      function: sendRequestThroughRouter
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 299
                      function: handle
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 287
                      function: callLaravelOrLumenRoute
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 92
                      function: makeApiCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 45
                      function: makeResponseCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 35
                      function: makeResponseCallIfConditionsPass
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                      line: 209
                      function: __invoke
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                      line: 163
                      function: iterateThroughStrategies
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                      line: 95
                      function: fetchResponses
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                      line: 124
                      function: processRoute
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                      line: 71
                      function: extractEndpointsInfoFromLaravelApp
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                      line: 49
                      function: extractEndpointsInfoAndWriteToDisk
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/knuckleswtf/scribe/src/Commands/GenerateDocumentation.php
                      line: 51
                      function: get
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                      line: 36
                      function: handle
                      class: Knuckles\Scribe\Commands\GenerateDocumentation
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Container/Util.php
                      line: 41
                      function: 'Illuminate\Container\{closure}'
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                      line: 93
                      function: unwrapIfClosure
                      class: Illuminate\Container\Util
                      type: '::'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                      line: 35
                      function: callBoundMethod
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Container/Container.php
                      line: 662
                      function: call
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Console/Command.php
                      line: 208
                      function: call
                      class: Illuminate\Container\Container
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/symfony/console/Command/Command.php
                      line: 312
                      function: execute
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Console/Command.php
                      line: 177
                      function: run
                      class: Symfony\Component\Console\Command\Command
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/symfony/console/Application.php
                      line: 1040
                      function: run
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/symfony/console/Application.php
                      line: 314
                      function: doRunCommand
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/symfony/console/Application.php
                      line: 168
                      function: doRun
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Foundation/Console/Kernel.php
                      line: 200
                      function: run
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: /Users/marouanajtirah/Desktop/APISwappie/artisan
                      line: 35
                      function: handle
                      class: Illuminate\Foundation\Console\Kernel
                      type: '->'
                properties:
                  message:
                    type: string
                    example: "SQLSTATE[42S02]: Base table or view not found: 1146 Table 'ID396978_swappie.notifications' doesn't exist (Connection: mysql, SQL: select * from `notifications` where `notifications`.`notifiable_type` = App\\Models\\User and `notifications`.`notifiable_id` = 1 and `notifications`.`notifiable_id` is not null order by `created_at` desc)"
                  exception:
                    type: string
                    example: Illuminate\Database\QueryException
                  file:
                    type: string
                    example: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Connection.php
                  line:
                    type: integer
                    example: 793
                  trace:
                    type: array
                    example:
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Connection.php
                        line: 753
                        function: runQueryCallback
                        class: Illuminate\Database\Connection
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Connection.php
                        line: 405
                        function: run
                        class: Illuminate\Database\Connection
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Query/Builder.php
                        line: 2718
                        function: select
                        class: Illuminate\Database\Connection
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Query/Builder.php
                        line: 2707
                        function: runSelect
                        class: Illuminate\Database\Query\Builder
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Query/Builder.php
                        line: 3248
                        function: 'Illuminate\Database\Query\{closure}'
                        class: Illuminate\Database\Query\Builder
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Query/Builder.php
                        line: 2706
                        function: onceWithColumns
                        class: Illuminate\Database\Query\Builder
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Builder.php
                        line: 717
                        function: get
                        class: Illuminate\Database\Query\Builder
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Builder.php
                        line: 701
                        function: getModels
                        class: Illuminate\Database\Eloquent\Builder
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Relations/MorphMany.php
                        line: 33
                        function: get
                        class: Illuminate\Database\Eloquent\Builder
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Concerns/HasAttributes.php
                        line: 590
                        function: getResults
                        class: Illuminate\Database\Eloquent\Relations\MorphMany
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Concerns/HasAttributes.php
                        line: 528
                        function: getRelationshipFromMethod
                        class: Illuminate\Database\Eloquent\Model
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Concerns/HasAttributes.php
                        line: 453
                        function: getRelationValue
                        class: Illuminate\Database\Eloquent\Model
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Model.php
                        line: 2227
                        function: getAttribute
                        class: Illuminate\Database\Eloquent\Model
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/app/Http/Controllers/AuthController.php
                        line: 106
                        function: __get
                        class: Illuminate\Database\Eloquent\Model
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Controller.php
                        line: 54
                        function: show
                        class: App\Http\Controllers\AuthController
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/ControllerDispatcher.php
                        line: 43
                        function: callAction
                        class: Illuminate\Routing\Controller
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Route.php
                        line: 259
                        function: dispatch
                        class: Illuminate\Routing\ControllerDispatcher
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Route.php
                        line: 205
                        function: runController
                        class: Illuminate\Routing\Route
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                        line: 798
                        function: run
                        class: Illuminate\Routing\Route
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 141
                        function: 'Illuminate\Routing\{closure}'
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Middleware/SubstituteBindings.php
                        line: 50
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 180
                        function: handle
                        class: Illuminate\Routing\Middleware\SubstituteBindings
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Middleware/ThrottleRequests.php
                        line: 152
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Middleware/ThrottleRequests.php
                        line: 118
                        function: handleRequest
                        class: Illuminate\Routing\Middleware\ThrottleRequests
                        type: '->'
                      -
                        file: /Users/marouanajtirah/Desktop/APISwappie/vendor/laravel/framework/src/Illuminate/Routing/Middleware/ThrottleRequests.php
                        line: 80
[...]
